:root {
  --background: #fafafa;
  --foreground: #161718;
  --shadow-sm: 0px 2px 2px rgba(0, 0, 0, 0.04);
  --border-gray-1: rgba(0,0,0,0.08);
  --radii-4: 4px;
  --radii-8: 8px;
  --radii-10: 10px;
  --radii-12: 12px;
  --radii-16: 16px;
  --radii-18: 18px;
  --radii-999: 999px;
  --white: #fff;

  --blue-grad: linear-gradient(90deg, #75DAFF 5.87%, #588FFC 37.44%, #935AFA 102.82%);
  --orange-grad: linear-gradient(90deg, #FFC062 0%, #FF6456 94.7%);
}

::selection {
  background: #F802DA;
  color: var(--white);
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  position: relative;
  font-family: var(--font-hanken-grotesk);
  font-feature-settings: "ss01" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  /* &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/dot.svg');
    background-size: 20px 20px;
    background-position: 0 0;
    opacity: 0.3; 
    pointer-events: none; 
    z-index: -1;
  } */
  &::after {
    /* content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle at center,
      transparent 0%,
      transparent 50%,
      rgba(0, 0, 0, 0.8) 100% 
    ); */
    /* pointer-events: none;
    z-index: -1; */
  }
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.test-stylistic {
  font-family: var(--font-hanken-grotesk);
  font-feature-settings: "ss01" on;
  font-size: 2rem;
}


::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  padding: 0 1px;
  background: var(--background);
  border-left: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(81, 81, 81, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}